---

// IMPORT ASTRO ATOMS
import HeadingThreeCenter from "@/atoms/atoms-shiva/headings/three/center/index.astro"
import HeadingTwoCenter from "@/atoms/atoms-shiva/headings/two/center/index.astro"

// GET ASTRO PROPS
const {

    image_source,
    subtitle_one,
    subtitle_two,
    title,

} = Astro.props

---

<div class="flex flex-col gap-6">
    <HeadingTwoCenter>{ title }</HeadingTwoCenter>
    <div>
        <HeadingThreeCenter>{ subtitle_one }</HeadingThreeCenter>
        <HeadingThreeCenter>{ subtitle_two }</HeadingThreeCenter>
    </div>
    <img
        alt="recall"
        class="object-cover w-full h-full"
        src={ image_source }
    />
</div>
