<button class="flex py-4 px-6 bg-gray-800 font-medium gap-2 rounded-xl items-center text-white justify-center hover:bg-teal-300 hover:text-black hover:scale-105 transition delay-200 duration-500">
    <slot/>
</button>
