<button class="flex p-4 bg-gray-800 text-lg font-semibold font-poppins gap-2 rounded-xl items-center text-white justify-center hover:bg-teal-300 hover:text-black hover:scale-105 transition delay-200 duration-500">
    <slot/>
</button>
