---

// IMPORTS ATOMS
import HeadingFourMediumCenter from '@/atoms-diksha/headings/four/medium/center/index.astro';
import ParagraphPoppins from "@/atoms/atoms-nandini/paragraphs/poppins/index.astro"

const profession = [
    {
        description:"Researchers"
    },
    {
        description:"Managers"
    },
    {
        description:"Content creators"
    },
    {
        description:"Entrepreneurs"
    },
    {
        description:"ADHD Coach"
    },
];


// HARDCODED DATA
const data = {

    title:"+8000 top professionals uses Saner.ai What about you?",
}

---

<section class="py-40">
	<div class="space-y-20 lg:flex lg:gap-20 lg:justify-center lg:items-center lg:mx-20 xl:mx-40 2xl:mx-80">
        <div class="mx-80 lg:mx-5 lg:mt-10">
            <HeadingFourMediumCenter>{ data.title }</HeadingFourMediumCenter>
        </div>
		<div class="flex gap-40 overflow-hidden relative w-full">
			<div class="flex items-center gap-40 animate-scroll">
				{

                    profession.map( (item) =>{

                        return (

                                <ParagraphPoppins>{ item.description }</ParagraphPoppins>

                        )

                    })

                }
			</div>
            <div class="inline-block">
                <div class="flex items-center gap-40 animate-scroll">
                    {

                        profession.map( (item) =>{
    
                            return (
    
                                    <ParagraphPoppins>{ item.description }</ParagraphPoppins>
    
                            )
    
                        })
    
                    }
                </div>  
            </div>
		</div>
	</div>
</section>
