---

// IMPORTS ATOMS
import Heading4 from '@/atoms-diksha/headings/four/index.astro';
import Heading5 from '@/atoms-diksha/headings/five/index.astro';

const profession = [
	'Researchers',
	'Managers',
	'Content creators',
	'Entrepreneurs',
	'ADHD Coach',
];

---

<section class="py-40">
	<div class="flex flex-col sm:flex-row justify-around items-center gap-20 sm:gap-0">
		<Heading4>+7000 top professionals moved to Saner.ai<br />What about you?</Heading4>

		<div class="overflow-hidden whitespace-nowrap relative w-full sm:w-2/5">
			<div class="flex items-center gap-40 sm:gap-10 animate-scroll">
				{
					profession.map((item) => (<h6 class="font-poppins ">{item}</h6>))
				}
				<!-- Repeat the list to ensure continuous scrolling -->
				{
					profession.map((item) => (<h6 class="font-poppins ">{item}</h6>))
				}
			</div>
		</div>
	</div>
</section>
