---

// IMPORT ASTRO ATOMS
import Picture from "@/atoms/picture/internal/contain/index.astro"

---
<div class=" flex justify-center items-center w-fit gap-2">
    <div class=" w-6 aspect-square border-none" >  
        <Picture source="/icons/blue-star.png" alternative_text="star" ></Picture>
    </div>
    <div class=" w-6 aspect-square border-none" >  
        <Picture source="/icons/blue-star.png" alternative_text="star" ></Picture>
    </div>
    <div class=" w-6 aspect-square border-none" >  
        <Picture source="/icons/blue-star.png" alternative_text="star" ></Picture>
    </div>
    <div class=" w-6 aspect-square border-none" >  
        <Picture source="/icons/blue-star.png" alternative_text="star" ></Picture>
    </div>
    <div class=" w-6 aspect-square border-none" >  
        <Picture source="/icons/blue-star.png" alternative_text="star" ></Picture>
    </div>
</div>