---

// IMPORT ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"
import ParagraphCenter from "@/atoms/atoms-nandini/paragraphs/center/index.astro"
import ParagraphMediumCenter from "@/atoms/atoms-nandini/paragraphs/medium/center/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    icon_desc,
    icon_heading,
    icon_link,
    source,

} = Astro.props

---
<div class="">
    <div class="mx-auto size-20 transition delay-200 hover:scale-110 duration-500">
        <Link aria_label={ icon_heading } href={ icon_link }>
            <PictureInternal
                alternative_text={ alternative_text }
                source={ source }
            />
        </Link>
    </div>
    <Link aria_label={ icon_heading } href={ icon_link }>
        <ParagraphMediumCenter>{ icon_heading }</ParagraphMediumCenter>
    </Link>
    <ParagraphCenter>{ icon_desc }</ParagraphCenter>
</div>
