---

// IMPORT ASTRO ATOMS
import PictureInternal from "@/atoms/picture/internal/index.astro"
import ParagraphCenter from "@/atoms/atoms-nandini/paragraphs/center/index.astro"
import ParagraphMediumCenter from "@/atoms/atoms-nandini/paragraphs/medium/center/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    icon_desc1,
    icon_desc2,
    source,

} = Astro.props

---
<div class="grid gap-2">
    <div class="mx-10 h-20 w-20 transition delay-200 hover:scale-110 duration-500">
        <PictureInternal
            alternative_text={ alternative_text }
            source={ source }
        />
    </div>
    <ParagraphMediumCenter>{ icon_desc1 }</ParagraphMediumCenter>
    <ParagraphCenter>{ icon_desc2 }</ParagraphCenter>
</div>
