---

// IMPORTS ATOMS
import ButtonGrayWithSvg from "@/atoms/atoms-nandini/buttons/button-gray-with-svg/index.astro"
import HeadingOne7xlBoldCenterGray from "@/atoms/atoms-nandini/headings/one/7xl/bold/center/gray/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphBaseThinItalicSlate from "@/atoms/atoms-nandini/paragraphs/base/thin/italic/slate/index.astro"
import Paragraph2xlCenterSlate from '@/atoms-diksha/paragraphs/2xl/center/slate/index.astro';
import PictureInternal from "@/atoms/picture/internal/index.astro"

// HARDCODED DATA
const data = {

	button_link:"/sign-up",
	button_text:"Get Started for Free",
	description:"No learning curve or CC required",
	source1:"https://saner.ai/wp-content/uploads/2024/03/daily1.webp",
	source2:"https://saner.ai/wp-content/uploads/2024/03/product-of-the-week.webp",
	source3:"https://res.cloudinary.com/dhq9xe2ha/image/upload/v1715156871/landing_page_2_finalz_cbwzgx.png",
	sub_title:"Drowning in information? Forgetting stuff? Our intuitive app, with AI grounded in your knowledge, simplifies your life by consolidating notes, searches, and to-dos into one place.",
	title:"ADHD-friendly AI Note app"

}

---
<section class="bg-[url(https://res.cloudinary.com/dhq9xe2ha/image/upload/v1715153831/landing_page_1_duwbjo.png)] bg-no-repeat bg-center bg-cover flex flex-col justify-center items-center gap-6 py-16 sm:py-0">
	<div class="flex justify-center items-center gap-4 w-screen">
		<Link aria_label="link-to-sign-up-button" href="/saner-ai#saner-ai-1">
			<div class="w-40 aspect-[7/2]">
				<PictureInternal
					alternative_text={ data.title }
					source={ data.source1 }
				/>
			</div>
		</Link>
		<Link aria_label="link-to-sign-up-button" href="/launches">
			<div class="w-40 aspect-[7/3]">
				<PictureInternal
					alternative_text={ data.title }
					source={ data.source2 }
				/>
			</div>
		</Link>
	</div>
	<div class="mx-40">
		<HeadingOne7xlBoldCenterGray>{ data.title }</HeadingOne7xlBoldCenterGray>
	</div>
	<div class="sm:mx-32 mx-40">
		<Paragraph2xlCenterSlate>{ data.sub_title }</Paragraph2xlCenterSlate>
	</div>
	<div class="flex flex-col items-center justify-center gap-1 py-4 sm:py-8">
		<Link aria_label={ data.button_text } href={ data.button_link }>
			<ButtonGrayWithSvg>{ data.button_text }</ButtonGrayWithSvg>
		</Link>
		<ParagraphBaseThinItalicSlate>{ data.description }</ParagraphBaseThinItalicSlate>
	</div>
</section>
<div>
	<div class="w-screen aspect-video">
		<PictureInternal
			alternative_text={ data.title }
			source={ data.source3 }
		/>
	</div>
</div>
