---

// GET ASTRO PROPS
const {

    image_source,

} = Astro.props

---

<div class={"second-section-content rounded-3xl hidden"}>
    <img 
        alt="" 
        class="objext-cover w-full h-full" 
        src={ image_source } 
    />
</div>
