<div
	class="hidden sm:block w-screen h-12 bg-color-primary bg-blend-normal bg-[url('https://saner.ai/wp-content/uploads/2023/04/head-bg-1.png')] bg-cover bg-center bg-no-repeat"
>
	<div class="flex gap-6 justify-center items-center h-full">
		<a
			href="https://www.producthunt.com/products/saner-ai"
		>
			<span class="font-poppins text-[10px] font-bold text-white">ANNOUNCEMENT</span>
		</a>
		<a
			href="https://www.producthunt.com/products/saner-ai"
		>
			<span class="font-poppins text-[10px] font-bold text-white">Saner.AI biggest update is launching NOW!</span>
		</a>
	</div>
</div>
