---

// IMPORT MARKDOWNS
import { frontmatter as announcement_data } from "@/content/header-extra/announcement.md"

const announcement_title = announcement_data.title
const announcement_subtitle = announcement_data.subtitle

// IMPORT ASTOR ATOMS
import HeadingThreeXsWhite from "@/atoms/atoms-shiva/headings/three/xs/semibold/white/index.astro"
import ParagraphXsWhite from "@/atoms/atoms-shiva/paragraphs/xs/white/index.astro"

---

<section class="fixed top-0 w-full flex justify-center items-center border-b-2 border-white bg-slate-800 py-4 z-40">
	<div class="flex items-center gap-4">
		<HeadingThreeXsWhite>{ announcement_title }</HeadingThreeXsWhite>
		<ParagraphXsWhite>{ announcement_subtitle }</ParagraphXsWhite>
	</div>
</section>
