---

// GET ASTRO PROPS
const {
    
    title,

} = Astro.props

---

<div class="flex flex-col items-center justify-center gap-4">
    <div class="flex items-center justify-center size-20 bg-gray-200 hover:text-white hover:bg-gray-800 hover:scale-125 duration-300 rounded-full p-2">
        <slot/>
    </div>
    <p class="font-poppins text-lg text-center">{ title }</p>
</div>
