---

// GET ASTRO PROPS
const {

    image_index,
    image_source,

} = Astro.props

---

<div class={"second-section-content rounded-3xl hidden"}>
        <img 
            alt="" 
            class="" 
            src={ image_source } 
        />
</div>
