---

// IMPORT ASTRO ATOMS
import ParagraphXl from "@/atoms/atoms-shiva/paragraphs/xl/index.astro"

---

<div class="px-4 py-2 border border-gray-200 hover:shadow-md cursor-pointer rounded-xl">
    <ParagraphXl>
        <slot/>
    </ParagraphXl>
</div>
