---

// IMPORT ASTRO COMPONENTS
import ImageCard from "@/components/home/more-about-vision/image-card/index.astro"
import SocialIcons from "@/components/home/more-about-vision/social-icon/index.astro"

// IMPORT ASTRO ATOMS
import HeadingFour4xlMediumCenter from "@/atoms/atoms-nandini/headings/four/4xl/medium/center/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

// GET ASTRO PROPS
const {

    card1_desc1,
    card2_desc1,
    card3_desc1,
    card1_heading1,
    card2_heading1,
    card3_heading1,
    card1_title,
    card2_title,
    card3_title,
    desc1,
    icon1_desc1,
    icon1_desc2,
    icon2_desc1,
    icon2_desc2,
    icon3_desc1,
    icon3_desc2,
    icon4_desc1,
    icon4_desc2,
    title,

} = Astro.props

---
<div class="grid gap-14 my-10">
    <HeadingFour4xlMediumCenter>{ title }</HeadingFour4xlMediumCenter>
    <div class="cursor-pointer grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:flex lg:justify-center pb-20 mx-8 lg:mx-12 xl:mx-32 2xl:mx-60">
        <ImageCard
            alternative_text="Card-Image"
            card_desc={ card1_desc1 }
            card_heading={ card1_heading1 }
            card_title={ card1_title }
            desc={ desc1 }
            href_paragraph="/category/general-blogs/adhd/"
            href_title="/sanerai-adhd-tool-for-adults/"
            source="/card-img1.webp"
        />
        <ImageCard
            alternative_text="Card-Image"
            card_desc={ card2_desc1 }
            card_heading={ card2_heading1 }
            card_title={ card2_title }
            desc={ desc1 }
            href_paragraph="/category/introduction/feature/"
            href_title="/how-does-saner-ai-minimize-context-switching/"
            source="/card-img2.webp"
        />
        <ImageCard
            alternative_text="Card-Image"
            card_desc={ card3_desc1 }
            card_heading={ card3_heading1 }
            card_title={ card3_title }
            desc={ desc1 }
            href_paragraph="/category/introduction/feature/"
            href_title="/release-note-30-june-2024/"
            source="/card-img3.png"
        />
    </div>
    <!-- Icons -->
    <div class="grid cursor-pointer md:flex gap-16 justify-center pb-32 mx-8">
        <div class="flex justify-between gap-8">
            <SocialIcons
                alternative_text="ChromeExtension"
                icon_desc1={ icon1_desc1 }
                icon_desc2={ icon1_desc2 }
                source="/chrome-icon.svg"
            />
            <SocialIcons
                alternative_text="DiscordCommunity"
                icon_desc1={ icon2_desc1 }
                icon_desc2={ icon2_desc2 }
                source="/discord-icon.svg"
            />
        </div>
        <div class="flex justify-between gap-8">
            <SocialIcons
                alternative_text="TwitterIcon"
                icon_desc1={ icon3_desc1 }
                icon_desc2={ icon3_desc2 }
                source="/twitter-icon.svg"
            />
            <SocialIcons
                alternative_text="ProductHuntLogo"
                icon_desc1={ icon4_desc1 }
                icon_desc2={ icon4_desc2 }
                source="/product-hunt-icon.svg"
            />
        </div>
    </div>
    <div class="flex justify-evenly">
        <div class="h-12">
            <PictureInternal
                alternative_text="Productofday"
                source="/Product-of-the-day.svg" 
            />
        </div>
        <div class="h-12 hidden md:block">
            <PictureInternal
                alternative_text="productivity"
                source="/productivity.svg"
            />
        </div>
        <div class="h-12 hidden md:block">
            <PictureInternal
                alternative_text="ai"
                source="/ai-for-that.webp"
            />
        </div>
    </div>
</div>
