---

// IMPORT ASTRO COMPONENTS
import ImageCard from "@/components/home/more-about-vision/image-card/index.astro"
import SocialIcons from "@/components/home/more-about-vision/social-icon/index.astro"

// IMPORT ASTRO ATOMS
import HeadingFourCenter from "@/atoms/atoms-nandini/headings/four/center/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

// GET ASTRO PROPS
const {

    card1_desc1,
    card2_desc1,
    card3_desc1,
    card1_heading1,
    card2_heading1,
    card3_heading1,
    card1_title,
    card2_title,
    card3_title,
    desc1,
    icon1_desc1,
    icon1_desc2,
    icon2_desc1,
    icon2_desc2,
    icon3_desc1,
    icon3_desc2,
    icon4_desc1,
    icon4_desc2,
    title,

} = Astro.props

---
<div class="m-5">
    <div class="gap-20">
        <HeadingFourCenter>{ title }</HeadingFourCenter>
    </div>
    <div class="cursor-pointer grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:flex lg:justify-center pb-20 mx-8">
        <ImageCard
            alternative_text="Card-Image"
            card_desc={ card1_desc1 }
            card_heading={ card1_heading1 }
            card_title={ card1_title }
            desc={ desc1 }
            href_paragraph="/category/general-blogs/adhd/"
            href_title="/sanerai-adhd-tool-for-adults/"
            source="/card_img1.webp"
        />
        <ImageCard
            alternative_text="Card-Image"
            card_desc={ card2_desc1 }
            card_heading={ card2_heading1 }
            card_title={ card2_title }
            desc={ desc1 }
            href_paragraph="/category/introduction/feature/"
            href_title="/how-does-saner-ai-minimize-context-switching/"
            source="/card_img2.webp"
        />
        <ImageCard
            alternative_text="Card-Image"
            card_desc={ card3_desc1 }
            card_heading={ card3_heading1 }
            card_title={ card3_title }
            desc={ desc1 }
            href_paragraph="/category/introduction/feature/"
            href_title="/release-note-30-june-2024/"
            source="/card_img3.png"
        />
    </div>
    <!-- Icons -->
    <div class="cursor-pointer flex-wrap md:flex gap-16 justify-center text-center space-y-6 md:space-y-0 pb-32 mx-8">
        <div class="flex justify-between space-x-8">
            <SocialIcons
                alternative_text="ChromeExtension"
                icon_desc1={ icon1_desc1 }
                icon_desc2={ icon1_desc2 }
                source="/chrome_icon.svg"
            />
            <SocialIcons
                alternative_text="DiscordCommunity"
                icon_desc1={ icon2_desc1 }
                icon_desc2={ icon2_desc2 }
                source="/discord_icon.svg"
            />
        </div>
        <div class="flex justify-between space-x-8">
            <SocialIcons
                alternative_text="TwitterIcon"
                icon_desc1={ icon3_desc1 }
                icon_desc2={ icon3_desc2 }
                source="/twitter_icon.svg"
            />
            <SocialIcons
                alternative_text="ProductHuntLogo"
                icon_desc1={ icon4_desc1 }
                icon_desc2={ icon4_desc2 }
                source="/product_hunt_icon.svg"
            />
        </div>
    </div>
    <div class="flex justify-evenly">
        <div class="h-12">
            <PictureInternal
                alternative_text="Productofday"
                source="/Product-of-the-day.svg" 
            />
        </div>
        <div class="h-12 hidden md:block">
            <PictureInternal
                alternative_text="productivity"
                source="/productivity.svg"
            />
        </div>
        <div class="h-12 hidden md:block">
            <PictureInternal
                alternative_text="ai"
                source="/ai-for-that.webp"
            />
        </div>
    </div>
</div>
