<!-- transition on hover  -->
<button
	class="flex px-4 py-2 justify-center rounded-lg transition ease-in-out border-2 border-color-primary text-color-primary"
>
	<p class="font-poppins font-semibold text-sm">
		<slot />
	</p>
</button>
