---

// IMPORT ASTRO ATOMS
import HeadingFourXlMedium from "@/atoms/atoms-nandini/headings/four/xl/medium/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"
import ParagraphXsSemiboldCenterWhite from "@/atoms/atoms-nandini/paragraphs/xs/semibold/center/white/index.astro"
import ParagraphXs from "@/atoms/atoms-nandini/paragraphs/xs/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    card_desc,
    card_heading,
    card_title,
    desc,
    href_paragraph,
    href_title,
    source,

} = Astro.props

---
<div class="bg-white border rounded-2xl transition delay-200 hover:scale-105 duration-500 hover:text-purple-500">
    <div class="relative rounded-t-2xl overflow-hidden">
        <div class="">
            <PictureInternal
                alternative_text={ alternative_text }
                source={ source }
            />
        </div>
        <a href={ href_paragraph }>
            <ParagraphXsSemiboldCenterWhite>
                { card_heading }
            </ParagraphXsSemiboldCenterWhite>    
        </a>
    </div>
    <div class="inline-flex p-7 gap-3 text-black">
        <ParagraphXs>{ desc }</ParagraphXs>
        <ParagraphXs>⏺</ParagraphXs>
        <ParagraphXs>{ card_desc }</ParagraphXs>
    </div>
    <div class="pb-40 px-7">
        <a href={ href_title }>
            <HeadingFourXlMedium>{ card_title }</HeadingFourXlMedium>
        </a>
    </div> 
</div>
