---

// IMPORT ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import ListitemSmallGray from "@/atoms/atoms-nandini/list-items/sm/gray/index.astro"
import ParagraphMediumZinc from "@/atoms/atoms-nandini/paragraphs/medium/zinc/index.astro"

// GET ASTRO PROPS
const { data , title } = Astro.props

---
<section>
    <ParagraphMediumZinc>{ title }</ParagraphMediumZinc>
    <ul class="pt-5">
        {

            data.map( ( item ) => {

                return (
                    
                        <ListitemSmallGray>
                            <Link
                                aria-label={ "explore " + item.data.title }
                                href={ item.data.link }
                            >
                                { item.data.title }
                            </Link>
                        </ListitemSmallGray>

                )
            })
        }
    </ul>
</section>
