---

// IMPORT ASTRO ATOMS
import HeadingTwo from "@/atoms/akash/heading/two/index.astro"

---

<div class="flex flex-col gap-6 justify-center items-center p-10 w-full">
    <HeadingTwo>See Saner.ai in action</HeadingTwo>
    <iframe class=" aspect-[16/9] w-[90%]  rounded-2xl" 
        src="https://www.youtube.com/embed/ijv0a93RsY8?si=ifJmSEisYowRKpI6" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>
</div>