---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO ATOMS
import HeadingTwo5xlSemiboldCenter from "@/atoms/akash/heading/two/5xl/semibold/center/index.astro"
import Youtubevideo from "@/atoms/atoms-nandini/videos/youtube-video/index.astro"

// HARDCODED DATA
const data = {

    title:"See Saner.ai in action",

}

---

<section>
    <Container>
        <div class="space-y-6 p-10 w-full">
            <HeadingTwo5xlSemiboldCenter>{ data.title }</HeadingTwo5xlSemiboldCenter>
            <div class="flex justify-center items-center">
                <Youtubevideo
                    source = "https://www.youtube.com/embed/ijv0a93RsY8?si=ifJmSEisYowRKpI6" 
                />
            </div>
        </div>
    </Container>
</section>