---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO COMPONENTS
import FeaturesCard from "@/components/home/features/features-card/index.astro"
import FeaturesExtraCard from "@/components/home/features/features-extra-card/index.astro"

// IMPORT ASTRO ATOMS
import HeadingThree from "@/atoms/atoms-shiva/headings/three/index.astro"
import HeadingTwo from "@/atoms/atoms-shiva/headings/two/index.astro"

// IMPORT REACT ICONS
import Bars from "@/components/home/features/features-extra-card/react-icons/bars.jsx"
import Folder from "@/components/home/features/features-extra-card/react-icons/folder.jsx"
import Lock from "@/components/home/features/features-extra-card/react-icons/lock.jsx"
import Speaker from "@/components/home/features/features-extra-card/react-icons/speaker.jsx"

// HARDCODED DATA
const data = {

    title: "Come with automatic organizing",
    title_two: "and essential features",
    sub_title: "Easily become organized without getting bogged down with manual nitty-gritty",

}

---

<section class="my-36">
    <Container>
        <div class="max-w-[1140px] w-full mx-auto flex flex-col gap-10 px-16">
            <div class="flex flex-col gap-6">
                <div>
                    <HeadingTwo>{ data.title }</HeadingTwo>
                </div>
                <div>
                    <HeadingThree>{ data.sub_title }</HeadingThree>
                </div>
                <div class="grid grid-row md:grid-cols-3 items-center justify-center gap-4">
                    <FeaturesCard
                        source="/images/inbox.jpg"
                        sub_title="Display your new notes to get things done"
                        title="Smart Inbox"
                    />
                    <FeaturesCard
                        source="/images/tag.svg"
                        sub_title="Suggest tags based on note’s content & previous tags"
                        title="Tag Suggestion"
                    />
                    <FeaturesCard
                        source="/images/note.png"
                        sub_title="Easily connect with similar knowledge in the past "
                        title="Similar Note"
                    />
                </div>
            </div>
            <div class="flex flex-col gap-8">
                <h4 class="text-xl md:text-3xl font-poppins font-medium text-center">{ data.title_two }</h4>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
                    <FeaturesExtraCard title="Hierarchical folders">
                        <Folder size={30} />
                    </FeaturesExtraCard>
                    <FeaturesExtraCard title="Hardened security">
                        <Lock size={30} />
                    </FeaturesExtraCard>
                    <FeaturesExtraCard title="Recording to text">
                        <Speaker size={30} />
                    </FeaturesExtraCard>
                    <FeaturesExtraCard title="AI Task Assistant (Coming soon)">
                        <Bars size={30} />
                    </FeaturesExtraCard>
                </div>
            </div>
        </div>
    </Container>
</section>
